@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #423E37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #423E37;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
  background-size: 200% 200%;
}

@keyframes wipe {
  0% {
    transform: translateX(-100%) rotate(-20deg);
    opacity: 1;
  }
  40% {
    transform: translateX(0%) rotate(-20deg);
    opacity: 1;
  }
  60% {
    transform: translateX(0%) rotate(-20deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) rotate(-20deg);
    opacity: 1;
  }
}

.animate-wipe {
  animation: wipe 0.9s cubic-bezier(0.77,0,0.18,1) 0s 1 both;
}

.floating-img {
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-20px) scale(1.03); }
  100% { transform: translateY(0) scale(1); }
}

.film-roll {
  min-width: 1000px;
}
@keyframes filmroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-filmroll {
  animation: filmroll 24s linear infinite;
}
